<div class="calculationsContainer">
	<md-content layout-gt-sm="row" layout-padding class="inputContainer">
		<md-input-container flex>
			<label for="amount">Amount in Account</label>
			<input class="amountInput" ng-model="$ctrl.amount" ng-change="$ctrl.calculations.adjustProjections($ctrl.amount)" format="currency" id="amount">
		</md-input-container>
	</md-content>

	<md-content>
		<table class="calculationTable">
			<tbody>
				<tr ng-repeat="item in $ctrl.calculations.calculatedArray">
					<td class="leftJustify">{{item.month}} {{item.date | dateSuffix}}</td>
					<td>-</td>
					<td>{{item.amount | currency}}</td>
				</tr>
			</tbody>
		</table>
	</md-content>

</div>